  .jumbotron {
    margin-top: 20px;
    text-align: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    box-shadow: 5px 4px 4px 0px rgb(150, 149, 149);
  }
  body {
    font-family: 'Comfortaa', cursive; 
    font-size: 20px;   
  }

  .dropdown {
    margin-left: 15px;
    margin-top: 15px;
  }

  .city-input {
    flex: auto;
  }

  #day1, #day2, #day3, #day4, #day5 {
    font-size: 15px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    width: 220px;
    height: 150px;
    background-image: linear-gradient(160deg, #f1f4f8 10%, #acc6eb 100%);
    flex: initial;
    box-shadow: 2px 2px 2px 0px rgb(158, 158, 158);
    border: none;
  }

  .list-group {
    list-style-type: none;
  }

  .five-day {
    justify-content: initial;  
  }

  .card-title1, .card-title2, .card-title3, .card-title4, .card-title5 {
    font-family: 'Comfortaa', cursive;    
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    line-height: 1.3;
  }

  .display-3 {
   font-family: 'Comfortaa', cursive;    
   font-size: 70px;
   line-height: 1.1;
  }

  .lead2 {
    font-family: 'Comfortaa', cursive;    
    font-size: 30px;
    line-height: .9;
    font-weight: 500;
  }
  
  .lead3 {
    font-family: 'Comfortaa', cursive;
    /* text-transform: uppercase; */
    font-size: 40px;
    line-height: .9;
    font-weight: 500;
  }

  

  @media (max-width: 500px) {    
    #day1, #day2, #day3, #day4, #day5 {
      width: auto;
      margin: auto;
      margin-bottom: 10px;
    }

    .display-3 {
      font-family: 'Comfortaa', cursive;
      font-size: 40px;
      line-height: 1;
    }
  
    .lead2 {
      font-family: 'Comfortaa', cursive;
      font-size: 14px;
      font-weight: 500;
      line-height: .1;
    }
    
    .lead3 {
      font-family: 'Comfortaa', cursive;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 500;
      line-height: .4;
      }
  
  }

  