  .jumbotron {
    text-align: center;
    background-size: cover;
    color: rgb(255, 255, 255);
  }

  .city-input {
    flex: auto;
  }

  .lead {
    font-size: 19px;
    line-height: .5;
    font-weight: lighter;
  }
  
  .lead2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    line-height: .6;
  }
  
  .lead3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 30px;
    line-height: .6;
  }

  